body{

background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;

    
}
#lokking{
    position: absolute;
    top: 170px;  
    font-size: 30px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    z-index: 4;
}
#Continue{
    position:fixed;
    color: black;
    text-decoration-line: none;
    top: 90%;
    text-align: center;
    align-content: center;
    left: 0px;
    right: 0px;
    font-size: 30px;
    width: 200px;
    opacity: 0.8;
    margin: auto;
    z-index: 1;
}
#Continue:hover{
    
    color: orange;
    text-shadow: 20px;
font-size: 40px;
}

#Kontakt{
    font-style: italic;
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    right: 2%;
    bottom: 2%;
    text-align: right
}
#Kontakt:hover{
    color: orange;
    opacity: 0.5;
}


/*typing*/

/* The typing effect */
@keyframes typo {
    from :{0}

    to:{100%}
    }

/* The typewriter cursor effect */
@keyframes blink-caret {

  from, to { border-color: transparent }
  50% { border-color: orange; }
 }
i{width: auto;
position: relative;
margin: auto;
right: 0px;
bottom: 0px;
}
#b2{
text-align: center;
color: whitesmoke;
font-family: fantasy;
font-size: 50px;
letter-spacing: 3px;
position: relative;
background-color: black;
  color:whitesmoke;
width: 100%;
opacity: 0.8;
z-index: 2;
left: 0;
right: 0;
top: 50px;
margin: auto;
box-shadow: 0px 5px 10px #000000;
border-radius:00px  00px  00px 30px ;
padding: 0px;
}


.typewriter{
    font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: blink-caret .5s step-end infinite, typo 3.5s steps(30, end);  
width: 100%
}

#galaxy{
    
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 300px;
    height: auto;
    margin: auto;
    z-index: 1;
    /*Galaxy spin*/


 -webkit-animation-name: spin;
    -webkit-animation-duration: 16000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 16000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 16000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
     transition: all .5s ease-in-out;
}






/*Galaxy spin*/




    @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(-360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(-360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(-360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(-360deg); }}

/*stars*/
        
        
        
        #star1{
    
      position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 500px;
    height: auto;
    margin: auto;
  
   animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;


}



#star2{

 
      position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    width: 500px;
    height: auto;
    margin: auto;
    animation-name: fade3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#star3{

 
      position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    width: 500px;
    height: auto;
    margin: auto;
    animation-name: fade2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}           

@keyframes fade{
0% { opacity: 0;
    transform: scale(1);
    }
50%{ opacity: 1;
    transform: scale(1.2);
}
    51%{opacity: 0;
    transform: scale(1.2);}
100%{ opacity: 0;
    transform: scale(1);}              
     }

@keyframes fade2{
0% { opacity: 1;
    transform: scale(1);}
50%{ opacity: 0;
    transform: scale(1.2)}
51%{opacity: 0;
    transform: scale(1)}
100%{ opacity: 1;
    transform: scale(1)};                
     }
@keyframes fade3{
0% { opacity: 0.5;
    transform: scale(1);}
20%{ opacity: 1;
    transform: scale(1.1);}
60% { opacity: 0.5;
    transform: scale(1.2);}
80% { opacity: 0;
    transform: scale(1.2):}
81%{opacity: 0;
    transform: scale(1);}    
100%{ opacity: 0.5;
    transform: scale(1);    };                
     }
/*__________*/




@-ms-keyframes fade{
0% { opacity: 0;
    transform: scale(1);
    }
50%{ opacity: 1;
    transform: scale(1.2);
}
    51%{opacity: 0;
    transform: scale(1.2);}
100%{ opacity: 0;
    transform: scale(1);}              
     }

@-ms-keyframes fade2{
0% { opacity: 1;
    transform: scale(1);}
50%{ opacity: 0;
    transform: scale(1.2)}
51%{opacity: 0;
    transform: scale(1)}
100%{ opacity: 1;
    transform: scale(1)};                
     }
@-ms-keyframes fade3{
0% { opacity: 0.5;
    transform: scale(1);}
20%{ opacity: 1;
    transform: scale(1.1);}
60% { opacity: 0.5;
    transform: scale(1.2);}
80% { opacity: 0;
    transform: scale(1.2):}
81%{opacity: 0;
    transform: scale(1);}    
100%{ opacity: 0.5;
    transform: scale(1);    };                
     }
/*__________*/


*__________*/




@-moz-keyframes fade{
0% { opacity: 0;
    transform: scale(1);
    }
50%{ opacity: 1;
    transform: scale(1.2);
}
    51%{opacity: 0;
    transform: scale(1.2);}
100%{ opacity: 0;
    transform: scale(1);}              
     }

@-moz-keyframes fade2{
0% { opacity: 1;
    transform: scale(1);}
50%{ opacity: 0;
    transform: scale(1.2)}
51%{opacity: 0;
    transform: scale(1)}
100%{ opacity: 1;
    transform: scale(1)};                
     }
@-moz-keyframes fade3{
0% { opacity: 0.5;
    transform: scale(1);}
20%{ opacity: 1;
    transform: scale(1.1);}
60% { opacity: 0.5;
    transform: scale(1.2);}
80% { opacity: 0;
    transform: scale(1.2):}
81%{opacity: 0;
    transform: scale(1);}    
100%{ opacity: 0.5;
    transform: scale(1);    };                
     }

*__________*/





@-webkit-keyframes fade{
0% { opacity: 0;
    transform: scale(1);
    }
50%{ opacity: 1;
    transform: scale(1.2);
}
    51%{opacity: 0;
    transform: scale(1.2);}
100%{ opacity: 0;
    transform: scale(1);}              
     }

@-webkit-keyframes fade2{
0% { opacity: 1;
    transform: scale(1);}
50%{ opacity: 0;
    transform: scale(1.2)}
51%{opacity: 0;
    transform: scale(1)}
100%{ opacity: 1;
    transform: scale(1)};                
     }
@-webkit-keyframes fade3{
0% { opacity: 0.5;
    transform: scale(1);}
20%{ opacity: 1;
    transform: scale(1.1);}
60% { opacity: 0.5;
    transform: scale(1.2);}
80% { opacity: 0;
    transform: scale(1.2):}
81%{opacity: 0;
    transform: scale(1);}    
100%{ opacity: 0.5;
    transform: scale(1);    };                
     }


        /*komet*/
        
#komet{
            
         position: fixed;
  
   right: 0;
    top: 0;
    width: 100px;
    height: auto;
    margin: auto;
    z-index: 2;


        
            
        -webkit-animation-name: spin2;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
 

    -moz-animation-name: spin2;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
 

    -ms-animation-name: spin2;
    -ms-animation-duration: 15;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 

    animation-name: spin2;
    animation-duration: 15;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    }




@keyframes spin2 {
    0%   {right: 0p%; top: 0%; }
    25%  {right: 100%; top: 100%;}
    50%  {right: 200%; top: 200%;}
    75%  {right: 300%; top: 300%; }
    100% {right: 400%; top: 400%;}
      from { 
            transform: rotate(0deg);
        } to { 
            transform: rotate(360deg);
        }
}
            
          
@-webkit-keyframes spin2 {
       0%   {right: 0p%; top: 0%; }
    25%  {right: 100%; top: 100%;}
    50%  {right: 200%; top: 200%;}
    75%  {right: 300%; top: 300%; }
    100% {right: 400%; top: 400%;}
      from { 
            transform: rotate(0deg);
        } to { 
            transform: rotate(360deg);
        }
}

@-moz-keyframes spin2 {
    0%   {right: 0p%; top: 0%; }
    25%  {right: 100%; top: 100%;}
    50%  {right: 200%; top: 200%;}
    75%  {right: 300%; top: 300%; }
    100% {right: 400%; top: 400%;}
      from { 
            transform: rotate(0deg);
        } to { 
            transform: rotate(360deg);
        }
}

@-ms-keyframes spin2 {
     0%   {right: 0p%; top: 0%; }
    25%  {right: 100%; top: 100%;}
    50%  {right: 200%; top: 200%;}
    75%  {right: 300%; top: 300%; }
    100% {right: 400%; top: 400%;}
      from { 
            transform: rotate(0deg);
        } to { 
            transform: rotate(360deg);
        }
}

