/*________________Scrolltab_____________________*/

/* width */
::-webkit-scrollbar {
    width: 15px;
    z-index: 4;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
    z-index: 4;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #262626; 
    border-radius: 10px;
    opacity: 0.8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; }




/*____________________ Typing title____________________ /*


/* The typewriter cursor effect */
@keyframes blink-caret {

  from, to { border-color: transparent }
  50% { border-color: orange; }
 }

h1{
text-align: center;
color: whitesmoke;
font-family: fantasy;
font-size: 55px;
letter-spacing: 3px;
position: absolute;
background-color: black;
  color:whitesmoke;
width: 80%;
opacity: 0.8;
z-index: 2;
left: 0px;
right: 0px;
top: 100px;
box-shadow: 0px 5px 10px #000000;
border-radius:00px  00px  00px 30px ;
padding: 10px;
}


.typewriter h1{
    font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: blink-caret .5s step-end infinite, typo 3.5s steps(30, end);  
width: 80%
}



#siden{
left: 0px;
right: 0px;
top:0px;
bottom: 0px;
position: fixed;    
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
z-index: -1;
opacity: 0.2;
}



/*__________________________Button right top corner__________________________*/


/*Dropdown*/

.Drop{
    
position: fixed;
width: 50px;
min-height: 50px;
min-width: 50px;
height: 50px;
top:0px;
left: 0px;
float: left;
z-index: 5;
background-color: whitesmoke;
}
#dropm{
height: 50px;
width: 50px;
z-index: 5;
}
/*_______________meny siden_______________________*/

.Drop {
    position: fixed;
    display: inline-block;
     z-index: 5;
}

.DropCont {
    display: none;
    position: relative;
    background-color: whitesmoke;
    min-width: 100px;
  margin: auto;
    padding: 5px 5px 5px 5px ;
    list-style-type: none;
    color: black;
    height: 1000px;
    text-align: left;
   left: 0px;
    z-index: 5;
    width: auto;
}

.Drop:hover .DropCont{
    display: block;

}
.drops:hover{
    
background-color: black;
color: whitesmoke;
padding-left: 10px;
padding-right: 5px;
}
.drops {

    float: left;
    left: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

    
}

a{
     text-decoration-line: none;
    color: black;
    font-size: 20px;
    z-index: 5;
}
html, body {
    max-width: 100%;
margin: 0px;
padding-left: 2%;
padding-right: 2%;
font-family: "Verdana", sans-serif}
