.LN{
    
height: 100px; 

}

#Linkedin{
    
top: 300px;
text-align: center;
background-color: lightskyblue;
position: relative;

width: 100%;
padding-bottom: 40px;
left:0px;
right: 0px;
height: auto;
z-index: 1;
opacity: 0.9;
margin: auto;
margin-bottom: 0px;
}    
    

    

.lnprofile{
    
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    }

#Email{
  top: 300px;
text-align: center;
background-color: lightcoral;
position: relative;

width: 100%;
padding-bottom: 40px;
left:0px;
right: 0px;
height: auto;
z-index: 1;
opacity: 0.9;
margin: auto;
margin-bottom: 0px;  
}
.contakttext:hover{
    color: orange;
    border-color: orange;
} 

.contakttext{
left: 0%;
position: relative;
color: whitesmoke;
font-family: sans-serif;
font-size: 20px;
width: 100%;
margin: auto;
}


.ICON
{top: 10px;
left: 10px;
position: absolute;
width: auto;
height: 50%;
z-index: 1;}

#Linked{
       color:white;
    border-color: white;
        border-style: solid;
       border: 10px 10px;
    padding: 5px;
    font-size: 25px;
    font-style:normal;
    
}
#Linked:hover{
    
      color:orange;
    border-color: orange;
        border-style: solid;  
  
}
#telefon{  top: 300px;
text-align: center;
background-color: limegreen;
position: relative;

width: 100%;
padding-bottom: 40px;
left:0px;
right: 0px;
height: auto;
z-index: 1;
opacity: 0.9;
margin: auto;
margin-bottom: 0px;  }