

/*_______________________________Paralax______________________________*/
.parallax { 
    /* The image used */
    background-image: url("../images/Mitt/DSC_0409.JPG");
position: relative;
    /* Set a specific height */
    height: 100%; 

    top:0px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size:contain;
 left: 0px;
    right: 0px;   
    width: 100%;
}
.parallax2 { 
    /* The image used */
    background-image: url(../images/Mitt/kattedame.jpg);

    /* Set a specific height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   background-size:contain;
 left: 0px;
    right: 0px;
    width: 100%;
    position: relative;
    margin: auto;
    bottom: 0px;
   
    top:0;
}
.parallax3 { 
    /* The image used */
    background-image: url("../images/Mitt/Pelle.png");

    /* Set a specific height */
    height: 50%; 
position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size:contain;
 left: 0px;
    right: 0px;
    width: 100%;
   
    top:0px;
}

.parallax5 { 
    /* The image used */
    background-image: url("../images/Mitt/Magnus.jpg");
position: relative;
    /* Set a specific height */
    height: 50%; 

    top:0px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size:contain;
 left: 0px;
    right: 0px;   
    width: 100%;
}


.parallax6 { 
    /* The image used */
    background-image: url("../images/Mitt/profilepic.JPG");
position: relative;
    /* Set a specific height */
    height: 50%; 

    top:0px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size:contain;
 left: 0px;
    right: 0px;   
    width: 100%;
}
