/*Meny som følger etter scroll*/
.meny {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 3;
   left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
   text-align: center;
   background-color: whitesmoke;
    opacity: 1;
  
   
}


li {
    float: left;
    align-content:center;
    margin:auto;
    left: 0px;
    right: 0px;
   left: 50%;
list-style: none;
}





li .menyicon{
    width: 32px;
    height: 32px;
    position: relative;
    color: black;
   display: block;
  padding: 14px 16px;
        margin: auto;
    
}
.menyicon:hover{
    opacity: 0.8;
}
h6{
    font-family: fantasy;
    font-size: 25px;
    padding: 0px;
    margin: auto;
    color: black;
    right: 0px;
    margin-top: 5px;
    width: 90%;
 left: 0;

}

